{% extends 'layout.html' %}

{% block title %}Listar pactos{% endblock %}

{% block content %}
<div class="container">
  <h2 class="mt-4 text-center">Registro de Pactos</h2>

  <!-- Tabla con desplazamiento a la izquierda -->
  <table class="table table-dark" style="transform: translateX(-170px);">
      <thead class="table-dark">
    <thead>
      <tr>
        <!-- Cabeceras de la tabla -->
        <th>ID</th>
        <th>Banco origen</th>
        <th>Banco destino</th>
        <th>Monto</th>
        <th>Cuenta origen</th>
        <th>Cuenta destino</th>
        <th>Tipo de cambio</th>
        <th>Comision</th>
        <th>Status</th>
        <th>Fecha</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
      {% for record in records %}
      <tr>
        <td>{{ record.id_pacto }}</td>
        <td>{{ record.banco_origen }}</td>
        <td>{{ record.banco_destino }}</td>
        <td>{{ record.monto }}</td>
        <td>{{ record.cuenta_origen }}</td>
        <td>{{ record.cuenta_destino }}</td>
        <td>{{ record.tipo_cambio }}</td>
        <td>{{ record.comision }}</td>
        <td>{{ record.status }}</td>
        <td>{{ record.fecha_hora }}</td>
        <td>
          <!-- Select para editar ID del pacto -->
          <form action="{{ url_for('editar_transferencia', record_id=record.id) }}" method="POST">
            <div class="form-group">
              <label for="pacto_id-{{ record.id }}">Seleccionar nuevo ID del Pacto:</label>
              <select class="form-control" id="pactoSelect-{{ record.id }}" name="pacto_id" required>
                <option value="">Seleccionar Pacto</option>
                {% for pacto in pactos %}  <!-- Itera sobre los pactos, no sobre records -->
                  <option value="{{ pacto.id_pacto }}" {% if pacto.id_pacto == record.pacto_id %}selected{% endif %}>
                    {{ pacto.id_pacto }}  <!-- Aquí se muestra el ID del pacto -->
                  </option>
                {% endfor %}
              </select>
            </div>
            <button type="submit" class="btn btn-primary mt-2">Guardar cambios</button>
          </form>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}