{% extends 'layout.html' %}

{% block title %}Listar pactos{% endblock %}

{% block content %}
<div class="container">
  {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
      <div class="alert-container">
        {% for category, message in messages %}
          <div class="alert alert-{{ category }} mt-3">
            {{ message }}
          </div>
        {% endfor %}
      </div>
    {% endif %}
  {% endwith %}
  <h2 class="mt-4 text-center">Registro de Pactos</h2>

  <!-- Tabla con desplazamiento a la izquierda -->
  <table class="table table-dark" style="transform: translateX(-10px);">
      <thead class="table-dark">
    <thead>
      <tr>
        <!-- Cabeceras de la tabla -->
        <th>ID</th>
        <th>Banco origen</th>
        <th>Banco destino</th>
        <th>Monto</th>
        <th>Cuenta origen</th>
        <th>Cuenta destino</th>
        <th>Tipo de cambio</th>
        <th>Comision</th>
        <th>Status</th>
        <th>Fecha</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
      {% for record in records %}
      <tr>
        <td>{{ record.id_pacto }}</td>
        <td>{{ record.banco_origen }}</td>
        <td>{{ record.banco_destino }}</td>
        <td>{{ record.monto }}</td>
        <td>{{ record.cuenta_origen }}</td>
        <td>{{ record.cuenta_destino }}</td>
        <td>{{ record.tipo_cambio }}</td>
        <td>{{ record.comision }}</td>
        <td>{{ record.status }}</td>
        <td>{{ record.fecha_hora }}</td>
        <td>
          <!-- Select para editar ID del pacto -->
          <form action="{{ url_for('editar_pactos', record_id=record.id_pacto) }}" method="POST">
            <div class="form-group">
              <label for="status-{{ record.id_pacto }}">Seleccionar nuevo estado del Pacto:</label>
              <select class="form-control" id="statusSelect-{{ record.id_pacto }}" name="status" required>
                <option value="">Seleccionar Status</option>
                <option value="EN PROGRESO" {% if record.status == 'EN PROGRESO' %}selected{% endif %}>EN PROGRESO</option>
                <option value="RECHAZADO" {% if record.status == 'RECHAZADO' %}selected{% endif %}>RECHAZADO</option>
                <option value="PAGADO" {% if record.status == 'PAGADO' %}selected{% endif %}>PAGADO</option>
              </select>
            </div>
            <button type="submit" class="btn btn-primary mt-2">Guardar cambios</button>
          </form>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}