{% extends 'layout.html' %}

{% block title %}List of Banks{% endblock %}

{% block content %}
<div class="container">
  <h2 class="mt-4">Registro de Transferencias</h2>
  <table class="table table-bordered">
    <thead>
      <tr>
        <!-- Cabeceras de la tabla -->
        <th>ID transferencia</th>
        <th>Usuario</th>
        <th>Email</th>
        <th>Banco origen</th>
        <th>Cuenta origen</th>
        <th>Banco destino</th>
        <th>Cuenta destino</th>
        <th>Monto</th>
        <th>Tipo de cambio</th>
        <th>Comisión</th>
        <th>Fecha</th>
        <th>ID del pacto asignado</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
        {% for record in records %}
      <tr>
        <!-- Datos de la transferencia -->
        <td>{{ record.id }}</td>
        <td>{{ record.fullname }}</td>
        <td>{{ record.email }}</td>
        <td>{{ record.origin_bank }}</td>
        <td>{{ record.origin_account }}</td>
        <td>{{ record.destination_bank }}</td>
        <td>{{ record.destination_account }}</td>
        <td>{{ record.amount }}</td>
        <td>{{ record.exchange_rate }}</td>
        <td>{{ record.commission }}</td>
        <td>{{ record.created_at }}</td>
        <td>{{ record.pacto_id }}</td>
        <td>
          <!-- Modal para editar la transferencia -->
          <div class="modal fade" id="editTransferModal-{{ record.id }}" tabindex="-1" role="dialog" aria-labelledby="editTransferModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="editTransferModalLabel">Editar Transferencia</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <!-- Formulario de edición -->
                  <form action="{{ url_for('editar_transferencia', record_id=record.id) }}" method="POST">
                    <div class="form-group">
                      <label for="pacto_id">ID del Pacto</label>
                      <input type="number" class="form-control" id="pacto_id" name="pacto_id" value="{{ record.pacto_id }}" required />
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                      <button type="submit" class="btn btn-primary">Guardar cambios</button>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}