{% extends 'layout.html' %}

{% block title %}Listado de Usuarios{% endblock %}

{% block content %}
<div class="container">
  <h2 class="mt-4">Listado de Usuarios</h2>
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>ID</th>
        <th>Nombre Completo</th>
        <th>Email</th>
        <th>Nombre de Usuario</th>
        <th>Fecha de Creación</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
      {% for user in users %}
      <tr>
        <td>{{ user.id }}</td>
        <td>{{ user.fullname }}</td>
        <td>{{ user.email }}</td>
        <td>{{ user.username }}</td>
        <td>{{ user.created_at }}</td>
        <td>
            <div class="btn-group" role="group" aria-label="Editar y eliminar">
                <a href="{{ url_for('delete_user', user_id=user.id) }}" class="btn btn-danger btn-sm">
                    <i class="fas fa-trash-alt"></i> 
                </a>
            </div>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}